<div class="template-travoasia page-landing responsive">
  <div class="hero-container">
    <div class="layout-centered-content">
      <div class="bgvid"  style="background-image: url(<%= @current_community.cover_photo.url %>)">
      <!--<figure class="marketplace-cover fluidratio home-page-cover-photo"></figure>-->
      </div>
      <!--<video autoplay loop poster="<%#= @current_community.cover_photo.url(:original) %>" id="bgvid">-->
      <div class="bgvid-mobile"  style="background-image: url(<%= @current_community.mobile_cover_photo.url %>)">
        <!--<figure class="marketplace-cover fluidratio home-page-cover-photo"></figure>-->
      </div>
      <!--</video>-->

      <h1 class="entry-title">
        <%= community_slogan %>
      </h1>

      <h2>
        <%= community_description %>
      </h2>

      <form class="cf" action="<%= browse_listings_path %>" method="GET">
        <div class="left-input-container cf">
          <%= text_field_tag "q", params[:q], :placeholder => (@community_customization && @community_customization.search_placeholder) || t("homepage.index.what_do_you_need"), :onkeypress => 'return noSubmitOnReturn(event)' %>
          <%#= text_field_tag "q", params[:q], :placeholder => (@community_customization && @community_customization.search_placeholder) || t("homepage.index.what_do_you_need"), :onkeypress => 'return noSubmitOnReturn(event)' %>
          <!--<input type="text" autocomplete="off" id="autocomplete" name="q" placeholder="<%#= (@community_customization && @community_customization.search_placeholder) || t("homepage.index.what_do_you_need") %>"/>-->

          <div class="dropdown" onclick="void(0)" style="background: #ffffff;">
            <%= select_tag "category", options_for_select(@all_shapes.map { |c| [(c.display_name(I18n.locale)), c.url] }), name: "category", :class => "current-value", prompt: "All Categories" %>
            <span class="dd-icon">v</span>
          </div>

        </div>
        <input type="submit" class="floatright button-1" value="Find Events" style="<%= get_color %>"/>
        <!--<input type="hidden" name="category" value="los-angeles"/>-->
        <input type="hidden" name="view" value="grid"/>
      </form>
    </div>
  </div>

  <div class="section layout-centered-content">

    <%= session[:temp_person_id] %>
    <h1 class="section-header">Explore ShareYourSpaghetti</h1>

    <h2 class="subheader">Discover unique events around you</h2>
    <ul class="block-grid cf">
      <% if @landing_images.present? %>
          <% @landing_images.each do |images| %>
              <li class="<%= images.position.to_i == 1 ? 'double-wide' : '' %> <%= (images.position.to_i == 2 || images.position.to_i == 5) ? 'no-right-margin' : '' %>" style="background:url(<%= images.image.url( images.position.to_i.odd? ? :left : :right) %>) center center no-repeat; background-size: 100% 100%;">
                <a href="<%= browse_listings_path(category: images.category_name) %>">
                  <span class="label-center"><%= images.category_name %></span>
                </a>
              </li>
          <% end %>
      <% end %>
    </ul>

    <div class="text-centered paddingTop20">
      <!--<div class="graphic-compass">graphic</div>-->
      <a style="<%= get_text_color %>" class="" href="<%= browse_listings_path %>"><%= @general_settings.text_under_countries.present? ? @general_settings.text_under_countries : '' %></a>
    </div>

  </div>

  <div class="section layout-centered-content">

    <h1 class="section-header">The most exclusive events on ShareYourSpaghetti</h1>
    <ul class="block-grid cf">
      <% @featured_listing.each do |listing| %>
          <%= render 'featured_listing', listing: listing %>
      <% end %>
    </ul>

    <div class="text-centered paddingTop20">
      <!--<a class="" href="<%#= browse_listings_path %>">Here Their stories</a>-->
    </div>

  </div>

  <div class="featured-artist-hero-container" style="background: url(<%= @general_settings.page_middle_image %>) no-repeat center center / cover">
    <div class="layout-centered-content">
      <h1 class="entry-title">
        <%= @general_settings.page_middle_image_header.present? ? @general_settings.page_middle_image_header : '' %>
      </h1>

      <h2><%= @general_settings.page_middle_image_sub_header.present? ? @general_settings.page_middle_image_sub_header : '' %></h2>
    </div>
  </div>

  <div class="section-features" style="display:none;">
    <div class="layout-centered-content cols-2 cf">
      <div class="right-column" style="background:url(http://www.studiotime.io/wp-content/themes/sparkling-studiotime/img/mobile.screenshot.jpg) center center no-repeat; background-size:cover;">&nbsp;</div>
    </div>
  </div>

  <div class="section layout-centered-content">

    <h1 class="section-header">Become a host: it takes just three easy steps to meet amazing people</h1>
    <ul class="seen-on-list">
      <div class="col-sm-12">
        <div class="hwimages">
          <%= image_tag 'imgpsh_fullsize_1.png' %>
        </div>
        <div class="hwimages">
          <%= image_tag 'imgpsh_fullsize_2.png' %>
        </div>
        <div class="hwimages">
          <%= image_tag 'imgpsh_fullsize_3.png' %>
        </div>
      </div>
    </ul>

  </div>

  <!--<script src="http://www.studiotime.io/wp-content/themes/sparkling-studiotime/js/application.min.js?v=4" type="text/javascript"></script>-->
  <!--<script src="https://www.youtube.com/iframe_api" type="text/javascript"></script>-->
  <!--<script src="//cdn.optimizely.com/js/2815420024.js"></script>-->
  <script>
      (function (i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r;
          i[r] = i[r] || function () {
                      (i[r].q = i[r].q || []).push(arguments)
                  }, i[r].l = 1 * new Date();
          a = s.createElement(o),
                  m = s.getElementsByTagName(o)[0];
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-61442434-1', 'auto');
      ga('send', 'pageview');

  </script>

  <script class="video-modal-template" type="text/x-handlebars-template">
    <div id="video-modal-container" class="video-container">

    </div>
  </script>

  <!--<div class="remodal" data-remodal-id="modal">-->
  <!--<button data-remodal-action="close" class="remodal-close"></button>-->
  <!--<h1>Header</h1>-->

  <!--<div class="modal-body">-->
  <!--&lt;!&ndash;<iframe id="ytplayer" type="text/html" width="1040" height="390"&ndash;&gt;-->
  <!--&lt;!&ndash;src="http://www.youtube.com/embed/M7lc1UVf-VE?autoplay=1&origin=http://example.com"&ndash;&gt;-->
  <!--&lt;!&ndash;frameborder="0"/>&ndash;&gt;-->
  <!--</div>-->
  <!--</div>-->

  <!--<div id="content-modal" class="modal fade" role="dialog">-->
  <!--<div class="modal-dialog">-->
  <!--<div class="modal-content">-->
  <!--<div id="content-modal-alert-container">-->
  <!--<div class="content">-->
  <!--<a class="btn-close-1 close-button">x</a>-->

  <!--<div id="content-modal-alert-message"></div>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="modal-header">-->
  <!--<a href="#" class="modal-close-button btn-close-3">close</a>-->

  <!--<div class="modal-header-content"></div>-->
  <!--</div>-->
  <!--<div class="modal-body">Loading...</div>-->
  <!--<a href="#" class="modal-close-button btn-close-1 hidden-header-only">close</a>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-m1XVD7c3PfBX_oxxKijOqeyNNqOSUW0&libraries=places&callback=init_autocomplete" async defer></script>

<script type="text/javascript">

//    var autocomplete;
//    function init_autocomplete() {
//        var input = (document.getElementById('q'));
//        var options = {
//            types: ['(regions)']
//        };
////
//        autocomplete = new google.maps.places.Autocomplete(input, options);
//        autocomplete.addListener('place_changed', get_place);
//        $(document).on({
//            'DOMNodeInserted': function () {
//                $('.pac-item, .pac-item span', this).addClass('needsclick');
//            }
//        }, '.pac-container');
//
//
//    }
//
//    function get_place() {
//        var city = '';
//        var country = '';
//        var place = autocomplete.getPlace();
//        var address_component = place['address_components'];
//        for (var i = 0; i < address_component.length; i++) {
//            type = address_component[i]['types'][0];
//            console.log(address_component[i])
//            switch (type) {
//                case 'country':
//                    country = address_component[i].long_name;
//                    break;
//                case 'administrative_area_level_2':
//                    console.log(type);
//                    city = address_component[i].long_name;
//                    break;
//            }
//        }
//        if (city.length > 0) {
//            var query = city + ', ' + country;
//        }
//        else {
//            query = country
//        }
//
//        $('#q').val(query);
//    }

    function noSubmitOnReturn(e) {
        if (e.keyCode == 13) {
            return false;
        }
    }
</script>