<% if @listing.is_featured %>
    <%= link_to make_feature_listing_path(@listing), data: { method: "put", remote: true} do %>
        <div class="icon-with-text-container">
          <%= icon_tag("star", ["icon-part"]) %>
          <div class="text-part">
            <%= t("listings.edit_links.remove_featured_listing") %>
          </div>
        </div>
    <% end %>
<% else %>
    <%= link_to make_feature_listing_path(@listing), data: { method: "put", remote: true} do %>
        <div class="icon-with-text-container">
          <%= icon_tag("star", ["icon-part"]) %>
          <div class="text-part">
            <%= t("listings.edit_links.feature_listing")           %>
          </div>
        </div>
    <% end %>
<% end %>
