<%= form_for @general_settings, :html => {:multipart => true} do |form| %>
    <%= form.label :page_middle_image_header, 'Home Page Middle Banner Header Text', :class => "input" %>
    <div class="info-text-container">
      <div class="info-text-icon">
        <i class="icon-info-sign"></i>
      </div>
      <div class="info-text-content">
        <p>Home Page Middle Banner image top header text</p>
      </div>
    </div>
    <%= form.text_field(:page_middle_image_header, :class => "title_text_field", :maxlength => "80") %>

    <%= form.label :page_middle_image_sub_header, 'Home Page Middle Banner Sub Header Text', :class => "input" %>
    <div class="info-text-container">
      <div class="info-text-icon">
        <i class="icon-info-sign"></i>
      </div>
      <div class="info-text-content">
        <p>Community page banner image top sub header text</p>
      </div>
    </div>
    <%= form.text_field(:page_middle_image_sub_header, :class => "title_text_field", :maxlength => "80") %>

    <%= form.label :page_middle_image, 'Home Page Middle Banner Image', :class => "input" %>
    <div class="info-text-container">
      <div class="info-text-icon">
        <i class="icon-info-sign"></i>
      </div>
      <div class="info-text-content">
        <p>Community page banner image, Image size should be 1200x350px</p>
      </div>
    </div>
    <%= form.file_field(:page_middle_image, :class => "title_text_field", :maxlength => "80") %>

    <!--community herade start-->
    <%= form.label :community_sub_header, 'Landing Page Text Under the countries', :class => "input" %>
    <div class="info-text-container">
      <div class="info-text-icon">
        <i class="icon-info-sign"></i>
      </div>
      <div class="info-text-content">
        <p>Landing Page Text Under the countries</p>
      </div>
    </div>
    <%= form.text_field(:text_under_countries, :class => "title_text_field", :maxlength => "80") %>


    <div class="add-category-buttons">
      <div class="inline-button-container">
        <%= form.button 'Save' %>
      </div>
    </div>
<% end %>