.full-width {
  width: 100%;
}

textarea {
  &.min-height {
    height: 3.5em;
  }
}

#person_user_type {
  width: 100%;
}

.accept_alert {
  color: #5a7d13;
}

.conversation-status .accept, .conversation-status .confirm, .conversation-status .accept_preauthorized {
  color: white !important;
}
.conversation-status .reject, .conversation-status .cancel, .conversation-status .reject_preauthorized {
  color: white !important;
}
