<div class="verification-form">
  <%#= verification.inspect %>
  <% if verification[:error].present? %>
      <p>
        <%= verification.inspect %>
      </p>
  <% elsif verification[:fields].present? %>
      <h3> Stripe Account Verification(Account Status <%= verification[:status] %>) </h3>
      <% if verification[:reason].present? %>
          <div style="padding: 5px; color: #880000; font-weight: bold;">
            Abc dsf ssdf sdf sdfds dsfdsfsdf
          </div>
      <% end %>
      <p>
        Your payment account is connected, please provide the following information to verify and active your account.
      </p>
      <%= form_for :stripe_verification, url: verify_account_person_stripe_account_path, html: {:multipart => true} do %>
          <%= hidden_field_tag :account_id, '', value: account_id %>
          <% if verification[:fields].include? 'legal_entity.verification.document' %>
              <div class="verification-item">
                <p>
                  Document verification required, please upload the scan or picture of your passport/ ID national card or driver's license
                </p>
                <%= file_field_tag :document, required: 'required' %>
              </div>
          <% elsif verification[:fields].include? 'legal_entity.personal_id_number' %>
              <div class="verification-item">
                <%= label_tag :personal_id, 'Provide your personal id number' %>
                <%= text_field_tag :personal_id %>
              </div>
          <% elsif verification[:fields].include? 'legal_entity.ssn_last_4' %>
              <div class="verification-item">
                <%= label_tag :ssn_number, 'Provide your ssn last 4 digits' %>
                <%= text_field_tag :ssn_number %>
              </div>
          <% end %>

          <div class="verification-item clearfix">
            <div style="text-align: center; margin-top: 10px;">
              <%= button_tag t("admin.stripe_accounts.update_stripe"), style: 'display: inline-block; color: #fdfdfd;' %>
            </div>
          </div>
      <% end %>
  <% else %>
      <p> Your account verification status is: <%= verification[:status] %>   Please come back to this page to check if your payment account is active!</p>
  <% end %>
</div>