<div class="row">
  <div style="width: 20%; display: inline-block">
    <span id="admin_members_count">
  <%= page_entries_info(@memberships, :model => "Person") %>
</span>
  </div>
  <div style="width: 40%; display: inline-block; text-align: end">
    <form method="get" url="<%= admin_community_community_memberships_path %>" class="membership_form">
      <%= select_tag :membership_type, options_for_select([['All', ''],['Host', 'host'], ['Guest', 'guest']],params[:membership_type]), style: 'width:75%' %>
    </form>
  </div>
  <div style="width: 39%; display: inline-block;text-align: end">
    <div id="export-as-csv">
      <%= link_to(" " + t("admin.communities.manage_members.export_all_as_csv"), {format: :csv}, {class: "js-users-csv-export " + icon_class("download")}) %>
    </div>

  </div>
</div>

<% content_for :extra_javascript do %>

<script type="text/javascript">
    $( "#membership_type" ).change(function() {
       $('.membership_form').submit();
    });
</script>
<% end %>