- content_for :javascript do
  ST.initializeManageMembers();

- content_for :title_header do
  %h1
    = t("layouts.admin.admin")
    = "-"
    = t("admin.communities.manage_members.manage_members")

= render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) }

- content_for :ajax_update do
  #admin-members-saving-posting-allowed.ajax-update-notice
    %span.ajax-update-icon{:class => "#{icon_class("loading")} icon-fix" }
    %span.ajax-update-text
      = t("admin.communities.manage_members.saving_user_status")
  #admin-members-saved-posting-allowed.ajax-update-success
    %span.ajax-update-icon{:class => "#{icon_class("check")} icon-fix" }
    %span.ajax-update-text
      = t("admin.communities.manage_members.save_user_status_successful")
  #admin-members-error-posting-allowed.ajax-update-error
    = t("admin.communities.manage_members.save_user_status_error")

= render :partial => "layouts/ajax_update_notification"

.left-navi-section
  %h2= t("admin.communities.manage_members.manage_members", :community_name => @community.name(I18n.locale))


  = render partial: 'from_user_type'


  %form
    %table#admin_members_list
      %thead
        %tr
          %th= render partial: "layouts/sort_link", locals: { column: "name", direction: sort_link_direction("name"), title: t("admin.communities.manage_members.name") }
          %th= render partial: "layouts/sort_link", locals: { column: "email", direction: sort_link_direction("email"), title: t("admin.communities.manage_members.email") }
          %th= render partial: "layouts/sort_link", locals: { column: "join_date", direction: sort_link_direction("join_date"), title: t("admin.communities.manage_members.join_date") }
          %th= render partial: "layouts/sort_link", locals: { column: "user_type", direction: sort_link_direction("user_type"), title: t("admin.communities.manage_members.user_type") }
          - if @current_community.require_verification_to_post_listings
            %th{:style => "text-align: center"}= render partial: "layouts/sort_link", locals: { column: "posting_allowed", direction: sort_link_direction("posting_allowed"), title: t("admin.communities.manage_members.posting_allowed") }
          %th= t("admin.communities.manage_members.admin")
          %th= t("admin.communities.manage_members.ban_user")
      %tbody
        - @memberships.each do |membership|
          - member = membership.person
          - unless member.blank?
            %tr
              %td.admin-members-full-name
                = link_to member.full_name, member
              %td
                = mail_to member.confirmed_notification_email_addresses.first
              %td= l(membership.created_at, :format => :short_date)
              %td= membership.membership_type
              - if @current_community.require_verification_to_post_listings
                %td{:style => "text-align: center"}= check_box_tag "posting-allowed[#{member.id}]", member.id, membership.can_post_listings, :class => "admin-members-can-post-listings"
              %td{:style => "text-align: center"}= check_box_tag "is_admin[#{member.id}]", member.id, member.is_marketplace_admin?, :class => "admin-members-is-admin", :disabled => member.eql?(@current_user)
              %td{:style => "text-align: center"}
                = link_to(icon_tag("cross"), ban_admin_community_community_membership_path(@current_community.id, membership.id), method: :put, :data => {:confirm => t("admin.communities.manage_members.ban_user_confirmation")}, :class => "admin-members-remove-user")

  .row
    .col-12
      = will_paginate @memberships
