<footer>
  <div class="layout-centered-content">
    <ul class="social-links-list">
      <li class="instagram"><a href="https://www.facebook.com/shareyourspaghetticom-704402849740557/?locale2=it_IT">share on instagram</a></li>
      <li class="facebook"><a href="https://www.facebook.com/shareyourspaghetticom-704402849740557/?locale2=it_IT">share on facebook</a></li>
    </ul>

    <ul class="footer-links">
      <li><a href="<%= about_infos_path %>">About</a></li>
      <li><a href="<%= new_user_feedback_path %>">Contact</a></li>
      <!--<li><a href="http://studiotimeio.wix.com/studiotime">Blog</a></li>-->
      <li><a href="<%= terms_infos_path %>">Terms</a></li>
      <li><a href="<%= privacy_infos_path %>">Privacy</a></li>
    </ul>

    <div class="footer-store-links">
      <%= link_to image_tag("google.png", :border => 0, :alt => '', :title => '',width: 300),"https://play.google.com/store/apps/details?id=com.shareyourspaghetti.shareyourspaghetti&hl=en", :class => 'dock-item' %>
    </div>

  </div>
</footer>