<%= render :partial => "admin/left_hand_navigation", :locals => { :links => admin_links_for(@current_community) } %>
<% content_for :title_header do %>
    <h1>
      <%= 'Upload Landing Page Image' %>
    </h1>
<% end %>


<div class="left-navi-section">
  <% if @landing_images.present? %>
      <div class="community-list">
        <table id="admin_members_list">
          <thead>
          <tr>
            <th>Country</th>
            <th>Position</th>
            <th>Image</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <% @landing_images.each do |image| %>
              <tr>
                <td><%= image.category_name %></td>
                <td><%= image.position %></td>
                <td><%= image_tag(image.image.url, width: 30) %></td>
                <td>
                  <%= link_to delete_landing_image_admin_community_path(@current_community.id, image_id: image.id) , data: { confirm: 'Are you sure?' }, title: 'Delete' do %>
                      <i class="icon-remove"></i>
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
  <% end %>
  <%= form_tag( save_landing_image_admin_community_path(@current_community), :multipart => true) do %>
      <%= label_tag :name, 'Name' + "*", :class => "input" %>
      <%= select_tag "landing_page[category_name]", options_for_select(@all_shapes.map { |c| [(c.display_name(I18n.locale)), c.display_name(I18n.locale)] }), name: "landing_page[category_name]", :class => "current-value", prompt: "Select One" %>

      <%= label_tag :name, 'Image Position' + "*", :class => "input" %>
      <%= select_tag "landing_page[position]", options_for_select([ "1", "2","3", "4", "5" ]), prompt: "Select Position" %>
      <span style="font-size: 12px; font-style: italic; font-weight: bold;">  <i class="icon-info-sign"></i> Please Use 620X300 for Position 1 . 300X300 for 2 ,3,4 and 5</span>
      <%= label_tag :name, 'Image' + "*", :class => "input" %>
      <%= file_field_tag 'landing_page[image]' %>

      <div class="add-category-buttons">
        <div class="inline-button-container">
          <%= button_tag "Upload" %>
        </div>
      </div>
  <% end %>

</div>