<!doctype html>

<%
  # We need to render and capture the sections already here, before the <head> element
  # because we want to add the section specific styles to the <head> element.
  # If we'd render the sections after the <head> elements, the section specific
  # styles would be empty
%>
<% content_for :sections do %>
  <% sections.each_with_index do |section, index| %>

    <% s = section["section"] %>
    <% section_id = "#{s['kind']}__#{s['id']}__#{index}" %>

    <% case s["kind"] %>
    <% when "hero" %>
      <%= render partial: "hero", locals: {section_id: section_id, s: s} %>
    <% when "footer" %>
      <%= render partial: "footer", locals: {section_id: section_id, s: s} %>
    <% when "info" %>
      <%
      second_wo_background =
        sections.each_with_index.reduce([Set.new, false]) { |(consecutive_infos, second_in_row), (section, idx)|
          sect = section["section"]
          if sect["kind"] == "info" && sect["background_image"].nil? && sect["background_color"].nil?
            if second_in_row
              [consecutive_infos.add([sect["id"], idx]), false]
            else
              [consecutive_infos, true]
            end
          else
            [consecutive_infos, false]
          end
        }.first.include?([s["id"], index])
      %>

      <%= render partial: "info", locals: {section_id: section_id, s: s, second_wo_background: second_wo_background } %>
    <% when "categories" %>
      <%= render partial: "categories", locals: {section_id: section_id, s: s} %>
    <% when "listings" %>
      <%= render partial: "listings", locals: {section_id: section_id, s: s} %>
    <% when "video" %>
      <%= render partial: "video", locals: {section_id: section_id, s: s} %>
    <% end %>

  <% end # sections#each %>
<% end # capture %>

<html lang="<%= landing_page_locale %>">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <% unless local_assigns.has_key?(:skip_analytics) && skip_analytics %>
    <%= render partial: "layouts/google_analytics_script",
               locals: { feature_flags: feature_flags,
                         community_id: community_context[:id],
                         google_analytics_key: community_context[:google_analytics_key] } %>
  <% end %>

  <title><%= page["title"]["value"] %></title>

  <%= render partial: "meta", locals: {cc: community_context, p: page, locale: landing_page_locale, url: landing_page_url } %>

  <%= favicon_link_tag community_context[:favicon] %>
  <%= favicon_link_tag community_context[:apple_touch_icon], rel: 'apple-touch-icon-precomposed', type: 'image/png' %>

  <% if font_path.present? %>
    <%= render partial: "layouts/fonts", locals: { font_path: font_path } %>
  <% end %>

  <style type="text/css">
    <% # Basic styling %>
    <%= styles %>

    <% # Styles from section partials. E.g. styles that need marketplace color %>
    <%= yield :hero_css %>
    <%= yield :footer_css %>
    <%= yield :info_css %>
    <%= yield :categories_css %>
    <%= yield :listings_css %>
    <%= yield :video_css %>
  </style>

</head>
<body>

  <% if topbar[:enabled] %>
  <div id="topbar-placeholder" class="topbar-placeholder"> </div>
  <% end %>

  <%= yield :sections %>

  <% # Add javascript libraries and external javascript code %>

  <% if sections.any? { |s| s["section"]["kind"] == "hero" && (s["section"]["variation"]["value"] == "location_search" || s["section"]["variation"]["value"] == "keyword_and_location_search") } %>
    <% key_param = community_context.has_key?(:google_maps_key) && community_context[:google_maps_key] ? "&key=#{community_context[:google_maps_key]}" : "" %>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places<%= key_param %>"></script>
    <script>
      <%= javascripts[:location_search] %>
    </script>
  <% end %>

  <% # Add javascript from sections %>

  <%= yield :javascript %>

  <% if topbar[:enabled]%>
    <script>
        window.I18n = {};
        <%= javascripts[:translations] %>
    </script>

    <% asset_host = local_assigns.key?(:asset_host) ? asset_host : nil %>
    <%= stylesheet_link_tag asset_path('app-bundle', type: :stylesheet, host: asset_host) %>
    <%= javascript_include_tag asset_path('vendor-bundle', type: :javascript, host: asset_host) %>
    <%= javascript_include_tag asset_path('app-bundle', type: :javascript, host: asset_host) %>

    <%= render partial: "topbar",
        locals: {props: topbar[:props],
                 marketplace_context: topbar[:marketplace_context],
                 props_endpoint: topbar[:props_endpoint],
                 container_id: "topbar-placeholder"} %>
  <% end %>

</body>
</html>
