<% content_for :title_header do %>
    <h1>
      <%= t("layouts.admin.admin") %>
      <%= "-" %>
      <%= t("admin.communities.paypal_account.paypal_admin_account") %>
    </h1>
<% end %>


<%= render :partial => "admin/left_hand_navigation", :locals => {:links => admin_links_for(@current_community)} %>
<div class="left-navi-section">
  <div class="row">
    <div class="col-lg-12">
      <%= t("admin.stripe_accounts.integration_info_text").html_safe %>
    </div>
  </div>
  <div class="paypal-wizard-divider"></div>
  <div class="paypal-wizard-content">
    <%= form_for @payment_settings, url: admin_stripe_preferences_preferences_update_path(), method: :post, html: {id: "paypal_preferences_form"} do |form| %>
        <div class="row paypal-preferences">
          <!--<div class="col-12">-->
          <!--<h3 class="paypal-wizard-step">-->
          <!--<%# if paypal_prefs_valid %>-->
          <!--<%#= icon_tag("check", ["icon-fix", "paypal-success-mark"]) %>-->
          <!--<%# end %>-->
          <!--<%#= t("admin.paypal_accounts.set_minimum_price_and_fee") %>-->
          <!--</h3>-->
          <!--</div>-->
        </div>
        <div class="row">
          <div class="col-6">
            <%= form.label :minimum_listing_price, t("admin.paypal_accounts.minimum_listing_price_label"), class: "paypal-horizontal-input-label" %>
          </div>
          <div class="col-6">
            <%= form.text_field :minimum_price_cents, class: "paypal-preferences-input" %>
            <label class="paypal-horizontal-input-label-unit">
              <%= currency %>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <%= form.label :commission_from_seller, t("admin.paypal_accounts.transaction_fee_label"), class: "paypal-horizontal-input-label" %>
          </div>
          <div class="col-6">
            <%= form.text_field :commission_from_seller, class: "paypal-preferences-input" %>
            <label class="paypal-horizontal-input-label-unit">
              <%= "%" %>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <%= form.label :minimum_transaction_fee_cents, t("admin.paypal_accounts.minimum_transaction_fee_label"), class: "paypal-horizontal-input-label" %>
          </div>
          <div class="col-6">
            <%= form.text_field :minimum_transaction_fee_cents, class: "paypal-preferences-input" %>
            <label class="paypal-horizontal-input-label-unit">
              <%= currency %>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <%= form.label :stripe_charge, 'Stripe Charge', class: "paypal-horizontal-input-label" %>
          </div>
          <div class="col-6">
            <%= form.text_field :stripe_charge, class: "paypal-preferences-input" %>
            <label class="paypal-horizontal-input-label-unit">
              <%= "%" %>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <%= form.label :stripe_transaction_fee, 'Stripe Transaction Fee', class: "paypal-horizontal-input-label" %>
          </div>
          <div class="col-6">
            <%= form.text_field :stripe_transaction_fee, class: "paypal-preferences-input" %>
            <label class="paypal-horizontal-input-label-unit">
              <%= currency %>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col-6"> %>
          </div>
          <div class="col-6">
            <%= form.text_field :recipient_account, placeholder: 'acct_19w9v4JKfU1kg2qK' %>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <%= form.button t("admin.paypal_accounts.save_settings") %>
          </div>
        </div>
    <% end %>
  </div>
</div>