/*
 *= require ./fonts
 *= require public
 *= require travoasia
 #= require remodal-default-theme
 #= require remodal
 */
.page-landing {
  .hero-container {
    color: #fff;
    height: 535px;
    overflow: hidden;
    padding: 140px 0 165px;
    position: relative;
    text-align: center;
    .bgvid {
      height: auto;
      left: 0;
      min-height: 100%;
      min-width: 100%;
      position: absolute;
      top: 0;
      width: auto;
      z-index: -100;
    }

    .bgvid-mobile {
      display: none;
    }

    h1 {
      color: #fff;
      font-size: 58px;
      font-weight: 100;
      line-height: 65px;
      margin: 0;
      padding-bottom: 0;
    }

    h2 {
      color: #fff;
      font-size: 24px;
      font-weight: 100;
      line-height: 36px;
      margin: 0;
      padding-bottom: 25px;
    }

    form {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 20px;
      .left-input-container {
        float: left;
        width: 730px;
      }
      input[type="text"] {
        background-color: #fff;
        border: 0 none;
        border-radius: 5px 0 0 5px;
        color: #3d3d3d;
        float: left;
        font-size: 18px;
        font-weight: 100;
        height: 60px;
        padding: 2px 25px 0;
        width: 65%;
      }
      .dropdown {
        float: left;
        height: 60px;
        margin-left: 2px;
        position: relative;
        width: 33%;
        overflow: hidden;
        z-index: 100;
        -webkit-border-radius: 0 4px 4px 0;
        -moz-border-radius: 0 4px 4px 0;
        border-radius: 0 4px 4px 0;
        ul {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          display: none;
          max-height: 150px;
          overflow-y: auto;
          padding: 0;
          width: 100%;
        }
        .current-value {
          background: transparent image-url("sprint.png") no-repeat scroll 15px 16px;
          border-bottom-right-radius: 5px;
          border-top-right-radius: 5px;
          color: #3d3d3d;
          cursor: pointer;
          display: block;
          height: 100%;
          line-height: 60px;
          padding: 2px 40px 0;
          text-align: left;
          width: 106%;
          border: none;
          -webkit-appearance: none;
        }
        .dd-icon {
          background: rgba(0, 0, 0, 0) image-url("sprint.png") no-repeat scroll 0 -50px;
          height: 12px;
          overflow: hidden;
          padding: 12px 0 0;
          position: absolute;
          right: 16px;
          top: 23px;
          width: 19px;
        }
      }
    }
  }
  .featured-artist-hero-container {
    background: rgba(0, 0, 0, 0) image-url("middle_banner.jpg") no-repeat scroll center center / cover;
    color: #fff;
    overflow: hidden;
    padding: 175px 0 0;
    position: relative;
    text-align: center;
    .button-play {
      background: rgba(0, 0, 0, 0) url("http://www.studiotime.io/wp-content/themes/sparkling-studiotime/img/graphic.play.01.png") no-repeat scroll center 0;
      box-sizing: border-box;
      display: block;
      height: 0;
      overflow: hidden;
      padding: 155px 0 0;
    }

    h1 {
      color: #fff;
      font-size: 58px;
      font-weight: 100;
      line-height: 65px;
      margin: 0;
      padding-bottom: 0;
    }

    h2 {
      color: #fff;
      font-size: 24px;
      font-weight: 100;
      line-height: 36px;
      margin: 0;
      padding-bottom: 75px;
    }
  }

  .seen-on-list {
    padding: 60px 0;
    text-align: center;
    li {
      display: inline-block;
      height: 2px;
      list-style-type: none;
      margin: 0 22px;
      overflow: hidden;
      padding: 42px 0 0;
      background: rgba(0, 0, 0, 0) image-url("sprint.png") no-repeat scroll;
      &.hypebeast {
        background-position: center -290px;
        width: 230px;
      }
      &.bbc {
        background-position: center -350px;
        width: 140px;
      }
      &.fader {
        background-position: center -450px;
        width: 226px;
      }
      &.product-hunt {
        background-position: center -400px;
        width: 140px;
      }
    }
  }
}

.hwimages {
  width: 33%;
  display: inline-block;
}

.template-travoasia {
  .section {
    padding: 45px 0;
    h2.subheader {
      color: #999999;
      font-size: 18px;
      font-weight: 100;
      text-align: center;
    }
    ul.block-grid {
      padding: 20px 0 0 0;
      li {
        float: left;
        height: 300px;
        list-style-type: none;
        margin: 0 20px 20px 0;
        position: relative;
        width: 300px;
        .hover-content {
          background-color: rgba(255, 255, 255, 0.98);
          color: #000;
          display: none;
          font-size: 20px;
          font-weight: 100;
          height: 100%;
          left: 0;
          padding: 105px 15px 0;
          position: absolute;
          text-align: center;
          top: 0;
          width: 100%;
        }
        a {
          display: block;
          &:hover {
            .hover-content {
              display: block;
            }
          }
        }
        &.featured-listing {
          &:nth-child(3n) {
            margin-right: 0;
          }
        }
      }

      li.double-wide {
        width: 620px;
      }

      li.no-right-margin {
        margin-right: 0;
      }

      .label-center {
        color: #fff;
        display: block;
        font-size: 36px;
        font-weight: 100;
        line-height: 300px;
        text-align: center;
      }

      .label-bottom {
        background-color: #fff;
        border: 1px solid #eaeaea;
        bottom: 0;
        color: #000;
        display: block;
        font-size: 20px;
        font-weight: 100;
        left: 0;
        padding: 15px;
        position: absolute;
        width: 100%;
        .rate-container {
          color: #999999;
          font-size: 13px;
          padding: 5px 0 0;
        }
      }
    }
  }

  .section h1.section-header {
    color: #000;
    font-size: 38px;
    font-weight: 100;
    margin-bottom: 0.1em;
    text-align: center;
    line-height: 40px;
  }

  .button-1 {
    //background-color: #fc0072;
    border: 0 none;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    line-height: 60px;
    padding: 0 30px;
    position: relative;
  }

  .view-community {
    background-color: #fc913b;
    background-image: image-url("community_btn.png");
    border: 0 none;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    line-height: 60px;
    padding: 0 30px;
    position: relative;
    height: 81px;
    width: 351px;
  }

  footer {
    background: rgba(0, 0, 0, 0) image-url("landing.footer.bg.jpg") repeat-x scroll 0 0;
    height: 246px;
    padding-top: 60px;
    position: relative;
    .social-links-list {
      float: right;
      padding: 0;
      text-align: right;
    }
    .social-links-list {
      li {
        display: inline-block;
        height: 40px;
        list-style-type: none;
        margin: 0 20px 0 0;
        width: 40px;
        a {
          background: rgba(0, 0, 0, 0) image-url("sprint.png") no-repeat scroll;
          display: block;
          height: 2px;
          overflow: hidden;
          padding: 40px 0 0;
          -webkit-border-radius: 40px;
          -moz-border-radius: 40px;
          border-radius: 40px;
        }
        &.instagram a {
          background-position: 0 -500px;
        }
        &.twitter a {
          background-position: -100px -500px;
        }
        &.facebook a {
          background-position: -200px -500px;
        }
        &.soundcloud a {
          background-position: -300px -500px;
        }
      }
    }
    .footer-links {
      padding: 0;
      li {
        display: inline;
        list-style-type: none;
        padding-right: 20px;
        a {
          color: #fff;
        }
      }
    }

    .footer-store-links {
      clear: both;
      //padding-top: 30px;
      text-align: center;
    }
  }
}

.paddingTop20 {
  padding-top: 20px;
}

.text-centered {
  text-align: center;
}

.layout-centered-content {
  margin: 0 auto;
  width: 940px;
}

.graphic-google-play-white {
  background: rgba(0, 0, 0, 0) image-url("sprint.png") no-repeat scroll 0 -600px;
  box-sizing: content-box;
  display: inline-block;
  height: 0;
  overflow: hidden;
  padding: 58px 0 0;
  width: 195px;
}

.graphic-itunes-white {
  background: rgba(0, 0, 0, 0) image-url("sprint.png") no-repeat scroll -200px -800px;
  border-radius: 4px;
  box-sizing: content-box;
  display: inline-block;
  height: 0;
  overflow: hidden;
  padding: 58px 0 0;
  width: 175px;
}

.template-travoasia a:hover,
.template-travoasia input[type="button"]:hover,
.template-travoasia input[type="submit"]:hover {
  opacity: 0.75;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.cf::before, .cf::after {
  content: " ";
  display: table;
}

.cf::after {
  clear: both;
}

.social-icon {
  background: #fff none repeat scroll 0 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  font-size: 14px;
  margin-right: 5px;
  padding: 2px 6px;
  &.s-facebook {
    color: #46629e;
  }
  &.s-twitter {
    color: #55ACEE;
    font-size: 9px;
    padding: 5px;
  }
}

// Design Responsive

@media only screen and (max-width: 960px) {

  //video#bgvid {
  //  height: 100%;
  //  left: 0;
  //  max-height: 100%;
  //  max-width: 100%;
  //  position: absolute;
  //  top: 0;
  //  z-index: -100;
  //  width: 100%;
  //}

  .page-landing .hero-container {
    padding: 0;
    height: 450px;
  }

  .layout-centered-content {
    display: block;
    width: 100%;
  }

  .template-travoasia .section ul.block-grid {
    margin-left: 2%;
    li {
      background-size: 100% 100% !important;
      width: 30%;
    }
  }

  .template-travoasia {
    .section ul.block-grid {
      li {
        &.double-wide {
          width: 59%;
          margin: 0 2% 2% 0;
        }
      }
    }
  }

  .page-landing .hero-container form .left-input-container {
    width: 100%;
    input[type='text'] {
      width: 100%;
    }
  }

  .page-landing .hero-container {
    h1.entry-title {
      font-size: 30px;
    }
    h2 {
      font-size: 26px;
    }
  }

  .page-landing .hero-container form {
    .floatright {
      margin-top: 15px;
    }
    .dropdown {
      width: 100%;
      margin-top: 15px;
      select {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {

  .page-landing .hero-container {
    padding: 0;
    height: 400px !important;
  }

  .hwimages {
    width: 100%;
    padding-top: 20px;
  }
  .template-travoasia .section ul.block-grid {
    text-align: center;
  }
  .template-travoasia .section ul.block-grid {
    margin-left: 0;
    li {
      width: 300px;
    }
  }
  .template-travoasia .section ul.block-grid li {
    margin: 10px 10px !important;
    display: inline-block;
    float: none;
  }
  .template-travoasia .section ul.block-grid li.double-wide {
    width: 300px;
  }
  .template-travoasia .section ul.block-grid li.no-right-margin {
    margin: 10px 10px;
  }
  .template-travoasia footer .footer-links {
    text-align: center;
    width: 100%;
  }
  .template-travoasia footer .footer-links li:last-child {
    margin-right: 0px;
  }
  .template-travoasia footer .social-links-list {
    width: 100%;
    text-align: center;
    float: none;
  }
  .template-travoasia footer .social-links-list li {
    margin: 0px 20px;
  }

  .template-travoasia.page-landing .hero-container {
    padding: 25px 0px;
  }
  .template-travoasia.page-landing .hero-container form .left-input-container {
    float: none;
    width: 100%;
  }
  .template-travoasia.page-landing .hero-container form .left-input-container input[type=text] {
    width: 100%;
    float: none;
    border-radius: 4px;
    font-size: 15px;
  }
  .template-travoasia.page-landing .hero-container form .left-input-container .dropdown {
    margin: 10px 0px;
    width: 100%;
    float: none;
    margin-left: 0px;
  }
  .template-travoasia.page-landing .hero-container form .left-input-container .dropdown .current-value {
    border-radius: 4px;
  }
  .template-travoasia.page-landing .hero-container form input[type=submit] {
    float: none;
  }
  .template-travoasia.page-landing .section-features {
    height: auto;
  }
  .template-travoasia.page-landing .section-features .cols-2 .left-column {
    float: none;
    padding: 10px;
    width: auto;
  }
  .template-travoasia.page-landing .section-features .cols-2 .left-column .store-links {
    padding-top: 20px;
    position: static;
    text-align: center;
  }
  .template-travoasia.page-landing .section-features .cols-2 .right-column {
    display: none;
  }
  .template-travoasia.page-landing .seen-on-list {
    //padding-top: 20px;
  }
  .template-travoasia.page-landing .seen-on-list li {
    //margin: 20px 0px;
  }

  .template-travoasia.page-why .hero-container {
    padding: 25px 0px;
  }
  .template-travoasia.responsive .layout-centered-content {
    width: auto;
  }
}

@media only screen and (max-width: 450px) {
  .template-travoasia .section ul.block-grid li.double-wide {
    width: calc(100% - 20px);
    height: 250px;
    margin: 10px;
  }
  .page-landing .hero-container {
    padding: 0 !important;
    height: 345px !important;
    form {
      background: transparent !important;
    }

    h2 {
      padding: 0 !important;
    }

    .bgvid-mobile {
      display: block;
      height: auto;
      left: 0;
      min-height: 100%;
      min-width: 100%;
      position: absolute;
      top: 0;
      width: auto;
      z-index: -100;
      background-size: 100% 100%;
    }

    .bgvid {
      display: none;
    }
  }
}

.marketplace-lander figure.marketplace-cover-small {
  background-image: url("https://sharetribe.s3.amazonaws.com/images/communities/small_cover_photos/20139/hd_header/banner_image.jpg?1456890969");
  height: 6em;
  background-size: cover;
  background-position: center center;
}

