<!DOCTYPE html>
<html>
<head>
  <style>
      @import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&subset=latin-ext);
  </style>
  <title> ShareYourSpaghetti </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <%= stylesheet_link_tag 'landing', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'remodal' %>
  <%= stylesheet_link_tag 'remodal-default-theme' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag  @current_community.favicon.url%>
</head>
<body>
<%= render partial: "layouts/style_overrides", locals: MarketplaceHelper.style_customizations_map(@current_community) %>
<%= render partial: 'layouts/global_header' %>
<%= yield %>
<div class="template-travoasia">
  <%= render 'shared/landing_footer' %>
</div>
</body>
</html>
